<%- include('../layout/header') %>

<section id="starter-section" class="card p-4">
  <div class="container section-title" data-aos="fade-up">
    <h1>Chỉnh sửa hạng vé</h1>
  </div>
  <div class="container" data-aos="fade-up">
    <form action="/class-ticket/edit/<%= classTicket.id %>" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Tên hạng vé:</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               value="<%= classTicket.name %>"
               required>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Cập nhật</button>
        <a href="/class-ticket" class="btn btn-secondary">Hủy</a>
      </div>
    </form>
  </div>
</section>
<%- include('../layout/footer') %>
