<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Nhà Hát cải lương Hà Nội</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="/image/logoNhaHat.jpg" rel="icon">
  <link href="/image/logoNhaHat.jpg" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-autocomplete: off;
      -moz-autocomplete: off;
      autocomplete: off;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  </style>
</head>

<body class="index-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center" style="background-color: #fff;">
      <a href="/" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename"><img src="/image/logoNhaHat.jpg" alt="Logo nhà hát" width="50px">
          <img src="/image/logoThuongHieu.svg" alt="Logo thương hiệu" width="50px">
        </h1>
      </a>
      <nav id="navmenu" class="navmenu btn">
        <ul>
          <script>
            function getCookie(name) {
              const cookies = document.cookie.split('; ');
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].split('=');
                if (cookie[0] === name) {
                  return decodeURIComponent(cookie[1]);
                }
              }
              return null;
            }
          </script>
          <li class="dropdown"><a href="/language/pick"><span><img src="/assets/language-svgrepo-com.svg" alt="" width="20px"></span></a>
            <% if(role=='admin'){ %>
          <li class="dropdown"><a href="#"><span>Quản lý </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/type-ticket">Loại vé</a></li>
              <li><a href="/class-ticket">Hạng vé</a></li>
              <li><a href="/ticket/check">Soát vé</a></li>
              <li><a href="/ticket">Bán vé</a></li>
              <li><a href="/event">Tạo lịch diễn</a></li>
              <li><a href="/language">Ngôn ngữ</a></li>
              <li><a href="/area">Điểm chạm</a></li>
              <li><a href="/articles">Bài viết</a></li>
              <li><a href="/banner">Ảnh bìa</a></li>
              <li><a href="/CreateQrCode?text=">Tạo mã QR</a></li>
          </li>
          <%} %>
        </ul>
        </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main">