<%- include('../../header') %>

<!-- Page Title -->
<div class="page-title">
  <div class="heading"></div>
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
         <li><a href="/">Trang chủ</a></li>
        <li><a href="/type-ticket">Loại vé</a></li>
        <li class="current">Chỉnh sửa</li>
      </ol>
    </div>
  </nav>
</div>
<section id="starter-section" class="starter-section section">
  <div class="container section-title" data-aos="fade-up">
    <h1>Chỉnh sửa loại vé</h1>
  </div>
  <div class="container" data-aos="fade-up">
    <form action="/type-ticket/edit/<%= typeTicket.id %>" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Tên loại vé</label>
        <input type="text"
          class="form-control"
          id="name"
          name="name"
          value="<%= typeTicket.name %>"
          required>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Cập nhật</button>
        <a href="/type-ticket" class="btn btn-secondary">Hủy</a>
      </div>
    </form>

  </div>
</section><!-- /Starter Section Section -->
<%- include('../../footer') %>
